APP_NAME="PETCLINIC"
OPENAI_API_KEY=sk-PKaIdoAqD93817eF88bFT3BLBKFJ99eb42373419420aA852
BASE_URL=https://api.ohmygpt.com/v1
ANTHROPIC_API_KEY=sk-PKaIdoAqD93817eF88bFT3BLBKFJ99eb42373419420aA852
ATLAS_URI=mongodb+srv://tyrfly1001:azsx0123456@cluster0.gnbljf4.mongodb.net/